{
  "env": {
    "commonjs": {
      "presets": [["es2015", { "loose": true }]],
    },
    "es": {
      "presets": [["es2015", { "loose": true, "modules": false }]],
    },
    "rollup": {
      "presets": [["es2015", { "loose": true, "modules": false }]],
      "plugins": ["external-helpers"]
    }
  }
}
