{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
      "peerDependencies": false,
    }],
    "no-param-reassign": 0,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never",
    }]
  },
  "globals": {
    "jasmine": false,
    "describe": false,
    "context": false,
    "beforeEach": false,
    "afterEach": false,
    "beforeAll": false,
    "afterAll": false,
    "it": false,
    "expect": false,
    "spyOn": false
  }
}
